

	<!-- BANNER -->
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Great product title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, numquam.</p>

			<div class="btn-group">
				<a href="#" class="btn btn-lg btn-success">Buy Now!</a>
				<a href="#" class="btn btn-lg btn-default">Try it Free</a>
			</div> <!-- end btn-group -->
		</div> <!-- end container -->
	</div> <!-- end jumbotron -->

