<form id="edit-link">
	<h2>Edit Link</h2>
	<div>
		<label for="url">url:</label>
		<input type="text" id="url" name="url" value="<%=url%>">
	</div>	
	<div>
		<label for="title">title:</label>
		<input type="text" id="title" name="title" value="<%=title%>">
	</div>	
	<div>
		<label for="category">category:</label>
		<input type="text" id="category" name="category" value="<%=category%>">
	</div>	
	<div>
		<input type="submit" name="Save Link">
		<button type="button" class="cancel">cancel</button>
	</div>	
</form>
