
module.exports = {
    development: {
      root: require('path').normalize(__dirname + '/..'),
      app: {
        name: 'Development'
      },
      db: 'mongodb://localhost/db_dev',

      facebook: {
        clientID: "", 
        clientSecret: "",
        callbackURL: "http://localhost:3000/auth/facebook/callback"
      },

      s3: {
        key: '_KEY_',
        secret: '_SECRET_',
        bucket: 'dev.bucket'
      },
      
      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },

      sessionSecret: 'this_is_a_secret_key'
    }
  , test: {
      root: require('path').normalize(__dirname + '/..'),
      app: {
        name: 'Test'
      },
      db: 'mongodb://localhost/db_test',

      facebook: {
        clientID: "", 
        clientSecret: "",
        callbackURL: "http://localhost:3000/auth/facebook/callback"
      },

      s3: {
        key: '_KEY_',
        secret: '_SECRET_',
        bucket: 'test.bucket'
      },
      
      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },

      sessionSecret: 'this_is_a_secret_key'
    }
  , production: {
      root: require('path').normalize(__dirname + '/..'),
      app: {
        name: 'Prod'
      },
      db: 'mongodb://localhost/db_prod',

      facebook: {
        clientID: "", 
        clientSecret: "",
        callbackURL: "http://localhost:3000/auth/facebook/callback"
      },

      s3: {
        key: '_KEY_',
        secret: '_SECRET_',
        bucket: 'prod.bucket'
      },
      
      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },

      sessionSecret: 'this_is_a_secret_key'
    }
}
