
var config =  {

    development: {

      root: require('path').normalize(__dirname + '/..'),

      app: {
        name: 'Linknizer: Development'
      },

      httpPort: 3000,

      db: 'mongodb://localhost/db_links_dev',

      facebook: {
        clientID: "", 
        clientSecret: "", 
        callbackURL: "http://localhost:3000/auth/facebook/callback" 
      },

      s3: {
        key: '',
        secret: '',
        bucket: ''
      },

      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },
      
      sessionSecret: 'this_is_a_secret_key'

    }, 

    test: {

      root: require('path').normalize(__dirname + '/..'),
      
      app: {
        name: 'Linknizer: Testing'
      },

      httpPort: 3001,

      db: 'mongodb://localhost/db_links_test',

      facebook: {
        clientID: "", 
        clientSecret: "", 
        callbackURL: "http://localhost:3000/auth/facebook/callback" 
      },

      s3: {
        key: '',
        secret: '',
        bucket: ''
      },
      
      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },
            
      sessionSecret: 'this_is_a_secret_key'
      
    }, 

    production: {

      root: require('path').normalize(__dirname + '/..'),

      app: {
        name: 'Linknizer'
      },

      httpPort: 3002,

      db: 'mongodb://localhost/db_links',
      
      facebook: {
        clientID: "", 
        clientSecret: "", 
        callbackURL: "http://localhost:3000/auth/facebook/callback" 
      },
      
      s3: {
        key: '',
        secret: '',
        bucket: ''
      },
      
      smtp: {
        service: "Gmail",
        user: "YOUR_USERNAME@gmail.com",
        pass: "YOUR_PASSWORD"
      },
            
      sessionSecret: 'this_is_a_secret_key'
      
    }
}

module.exports = config[process.env.NODE_ENV || 'development'];
