extends layout

block content
  .container
    .row
      #content.class(span12='span12') "

block scripts
  script(data-main='scripts/main', type='text/javascript',src='/scripts/vendor/requirejs/require.js')
